.page-product-detail{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    .product-detail-infor{
        display: flex;
        min-width: 600px;
        height: 80vh;
        .infor-left{
            flex: 6;
            .infor-left-img-container {
                height: 100%; 
                width: 100%;        
                img {
                  height: 100%; 
                  width: 100%; 
                //   object-fit: contain; /* Đảm bảo tỉ lệ hình ảnh không bị biến dạng */
                //   object-position: left; 
                }
              }
        }
        .infor-right{
            flex: 4;
            display: flex;
            flex-direction: column;
            .infor-right-category{
                font-size: 20px;
                font-weight: 500;
                color: grey;
                text-transform: uppercase;
            }
            .infor-right-name{
                font-size: 35px;
                font-weight: 600;
                color: rgb(32, 32, 32);
                text-transform: uppercase;
            }
            .infor-right-price-container{
                display: flex;
                .infor-right-price-discount{
                    color: #fc4958;
                    font-size: 35px;
                    margin-right: 25px;
                    font-weight: 700;
                }
                .infor-right-price-origin{
                    padding-top: 5px;
                    color: #6e6a6a;
                    font-size: 30px;
                    font-weight: 500;
                    text-decoration: line-through;
                    font-weight: 500;
                }
                
            }
            .infor-right-description{
                padding-top: 20px;
            }
            .infor-right-btn-container{
                display: flex;
                // margin-bottom: 20px;
                button{
                    color: var(--white);
                    background: var(--light-red);
                    border: var(--light-red);
                    padding: 12px 20px;
                    font-size: 15px;
                    font-weight: 600;
                    letter-spacing: 0.5px;
                    font-family: var(--oswald-font);
                    vertical-align: middle;
                    text-transform: uppercase;
                    transition: all 0.3s ease-in-out;
                    border-radius: 8px;
                    outline: none;
                    border: none;
                    &:hover, &:focus{
                        color: var(--light-red);
                        background: transparent;
                        outline: 1px solid var(--light-red);
                    }
                }

                .btn-buynow{
                    margin-right: 20px;
                }
            }
            .infor-right-store{
                .infor-right-store-title{
                    font-size: 15px;
                    // font-weight: 600;
                    margin-bottom: 10px;
                }
            }
        }
    }

    .product-detail-comment {
        width: 90%;
        margin: 10px auto;
        h2{
          text-align: center;
          margin-bottom: 40px;
        }
        .comment-container {
          border: 1px solid #E7E7E7;
          border-radius: 8px;
          padding: 15px;
          margin-bottom: 30px;
          background-color: #ffffff;  // Nền trắng để tăng độ tương phản
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12),  // Đổ bóng nhẹ và nổi bật hơn
                      0 4px 8px rgba(0, 0, 0, 0.08);
      
          .avatar-username-star-container {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
      
            .avatar {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              overflow: hidden;
              margin-right: 10px;
      
              img {
                width: 100%;
                height: auto;
              }
            }
      
            .username-star {
              display: flex;
              flex-direction: column;
              
              .username-user {
                font-weight: bold;
                // margin-bottom: 5px;
                font-size: 14px;
              }
      
              .star-container {
                img {
                  width: 15px; // Kích thước sao
                  height: auto;
                }
              }
            }
          }
      
          .comment-content {
            margin-top: 10px;
            margin-left: 50px;
            p {
              margin: 0; 
            }
          }
      
          .review-images-container {
            display: flex;
            gap: 20px; 
            margin-top: 10px;
            margin-left: 50px;
            .review-image {
              width: 100px; // Kích thước hình ảnh
              height: 100px;
              object-fit: cover; // Đảm bảo hình ảnh không bị biến dạng
              border-radius: 4px;
              border: 1px solid #ccc;
              cursor: pointer;
            }
          }
          .comment-date{
              margin-left: 50px;
              margin-top: 10px;
              font-size: 14px;
              color: rgb(155, 147, 147);
          }  
        }
        .no-comment{
          text-align: center;
          font-size: 20px;
        }
      }
      
}