.page-store {
  .header {
    width: 100vw; /* Chiều rộng toàn màn hình */
    height: auto; /* Để chiều cao tự điều chỉnh theo nội dung */
    min-height: 60vh; /* Đảm bảo chiều cao tối thiểu */
    background: url('../../assets/image_gg/introduce_1.png') no-repeat center center; /* Canh giữa hình nền */
    background-size: cover; /* Đảm bảo hình ảnh bao phủ toàn bộ header */
    background-attachment: fixed; /* Giữ nguyên khi cuộn trang */
    display: flex;
    align-items: center;
    justify-content: center;
  
    .header-circle {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(167, 158, 158, 0.5); /* Màu nền trắng trong suốt nhẹ */
      padding: 50px;
      width: 300px; /* Chiều rộng bằng chiều cao để tạo hình tròn */
      height: 300px; /* Chiều cao bằng chiều rộng */
      border-radius: 50%; /* Tạo hình tròn */
      text-align: center; /* Căn giữa nội dung văn bản */
      color: white;
      font-weight: bold;
  
      .header-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
      }
  
      .header-deco {
        font-size: 16px;
        color: gray;
        margin-bottom: 10px;
      }
  
      .header-content {
        font-size: 14px;
        margin-bottom: 20px;
      }
  
      .header-arrow-down {
        font-size: 30px;
        color: #333; /* Màu của icon */
      }
    }
  }
  
  
    
    .ads_box {
        text-align: right;
        padding: 80px 35px 50px;
        border-radius: 15px;
      }
      .ads_img1 {
        background: url("../../assets/menu/ads-1.jpg") no-repeat center center;
        background-size: cover;
      }
      .ads_img2 {
        background: url("../../assets/menu/ads-2.jpg") no-repeat center center;
        background-size: cover;
      }
      .ads_box h4 {
        font-size: 2rem;
        font-weight: 600;
        // color: var(--brown);
        color: rgb(255, 255, 255);
      }
      .ads_box h5 {
        font-size: 2.375rem;
        // color: var(--brown);
        font-weight: 700;
        color: rgb(247, 59, 59);
      }
      .ads_box a {
        margin-top: 15px;
        font-size: 18px;
      }
}