.store{
    width: 950px;
    margin: 0 auto;
}
h1{
    color: red;
}
.pagination button{
margin-left: 10px;
padding: 2px 5px;
}
.store .heading{
    display: flex;
    
}
.store-search{
    margin-left: auto;
}