.add {
  width: 70%;
  margin-left: max(5vw, 25px);
  margin-top: 20px;
  color: #6d6d6d;
  font-size: 16px;
}
.add form {
  gap: 20px;
}
.add-img-upload img {
  width: 120px;
}
.add-product-name,
.add-product-description {
  width: max(40%, 280px);
}
.add-product-name input,
.add-product-description textarea {
  padding: 10px;
}
.add-category-price {
  display: flex;
  gap: 30px;
}
.add-category-price select,
.add-category-price input {
  max-width: 120px;
  padding: 10px;
}
.add-btn {
  max-width: 120px;
  border: none;
  padding: 10px;
  background-color: black;
  color: white;
  cursor: pointer;
}
.add h2 {
  color: black;
  font-weight: bold;
}
.add {
  display: flex;
}
.add .cover-right {
  width: 450px;
  height: 450px;
  margin-left: 150px;
}
.add .cover-right img {
  width: 100%;
  object-fit: contain;
}
.add .cover-left {
  max-height: 100%;
}
.flex-ip {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}
.add .add-btn {
  margin-top: 15px;
  width: 150px;
}
.add form p {
  color: tomato;
}
.add-category-price {
  margin-top: 15px;
}
.add .img-upload {
  width: 120px;
  height: 80px;
  object-fit: cover;
}

/* select.select-manager{
    display: inline-block;
   
}*/
div.add-category {
  width: 450px;
  /* background-color: red; */
}
.select-manager {
  display: block;
  width: 400px; /* Hoặc giá trị cụ thể như 300px, tùy thuộc vào thiết kế của bạn */
  padding: 8px; /* Thêm padding để phần tử có cảm giác rộng rãi hơn */
  box-sizing: border-box; /* Đảm bảo padding và border không làm tăng kích thước tổng của phần tử */
}

.ipdes{
  height: 50px;
  width: 200px;
}
.cover-left{
  width: 1200px;
  max-width: calc(100% - 48px);
  
}
