
// $TitleStyles
.page-category {
  margin-top: 50px;
  background: url('../../assets/category/jollibee.png') no-repeat; /* Đặt hình nền và không lặp lại */
  background-size: contain; /* Đảm bảo hình nền bao phủ toàn bộ phần tử */
  background-position: center; /* Canh giữa hình nền */
    // width: 100%;
  .title {
    margin-top: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    h1 {
      font-size: 3rem;
      text-transform: uppercase;
      span {
        color: #fc4958;
      }
    }
    .yellow {
      color: #f9c74f;
    }
    p {
      padding: 0 10vw;
      font-size: 1.1rem;
      line-height: 2rem;
      letter-spacing: 0.1rem;
    }
  }
  @media screen and (min-width: 260px) and (max-width: 1080px) {
    .title {
      gap: 1rem;
      h1 {
        font-size: 2rem;
      }
      p {
        padding: 0 1vw;
      }
    }
  }
  
  
  .products {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;
      // margin: 3rem 0 100px 100px; 
      margin: 0 200px;
      .hr-separate {
        grid-column: 1 / -1; /* Đặt hr để nó trải dài hết chiều rộng của grid */
        border: 2px dashed red; /* Tùy chỉnh kiểu đường ngăn cách */
        margin: 1rem 0;
        width: 100%;
      }
      .product {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        justify-content: center;
        align-items: center;
        border-right: 3px dashed rgb(230, 114, 114);
        h4 {
          // color: #fc4958;
          font-size: 22px;
        }
        h3 {
          color: #fc4958;
          font-size: 20px;
        }
        p {
          text-align: center;
          font-size: 1rem;
          line-height: 2rem;
          letter-spacing: 0.1rem;
        }  
      //   ${imageZoomEffect};
          img { // Tương đương biến trên
              transition: 0.8s ease-in-out;
              &:hover {
              transform: scale(1.2);
              }
          }
  
        // .image {
        //   max-height: 20rem;
        //   overflow: hidden;
        //   border-radius: 1rem;
        //   img {
        //     height: 25rem;
        //     width:20rem;
        //     object-fit: cover;
        //   }
        // }
        .image {
          max-height: 20rem;
          overflow: hidden;
          border-radius: 1rem;
          display: flex;
          justify-content: center; /* Căn giữa ảnh theo chiều ngang */
          align-items: center; /* Căn giữa ảnh theo chiều dọc */
          
          img {
            height: auto; /* Đảm bảo tỉ lệ gốc của ảnh */
            width: 100%; /* Để ảnh chiếm hết chiều ngang nhưng vẫn giữ tỉ lệ */
            object-fit: contain; /* Đảm bảo toàn bộ ảnh hiển thị mà không bị cắt */
          }
        }
        
        button {
          border: none;
          padding: 1rem 2rem;
          font-size: 1rem;
          font-weight: 600;
          color: white;
          border-radius: 4rem;
          transition: 0.5s ease-in-out;
          cursor: pointer;
          background: linear-gradient(to right, #e74d5a, #df5151); /* Đặt màu đỏ đậm */
          text-transform: uppercase;
          &:hover {
            background: linear-gradient(to right, #ec7171, #e25863); 
          }
        }
      }
      .product-no-border-right{
        border-right: none;
      }
    }
  
    @media screen and (min-width: 280px) and (max-width: 720px) {
      .products {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      }
    }
    @media screen and (min-width: 720px) and (max-width: 1080px) {
      .products {
        grid-template-columns: repeat(2, 1fr);
      }
    }
}