
// $TitleStyles
.page-category {
  margin-top: 50px;
  background: url('../../assets/category/jollibee.png') no-repeat; /* Đặt hình nền và không lặp lại */
  background-size: contain; /* Đảm bảo hình nền bao phủ toàn bộ phần tử */
  background-position: center; /* Canh giữa hình nền */
    // width: 100%;
  .category-title {
    margin-top: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    h1 {
      font-size: 3rem;
      text-transform: uppercase;
      span {
        color: #fc4958;
      }
    }
    .yellow {
      color: #f9c74f;
    }
    p {
      padding: 0 10vw;
      font-size: 1.1rem;
      line-height: 2rem;
      letter-spacing: 0.1rem;
    }
  }
  @media screen and (min-width: 260px) and (max-width: 1080px) {
    .title {
      gap: 1rem;
      h1 {
        font-size: 2rem;
      }
      p {
        padding: 0 1vw;
      }
    }
  }
  
  
  .category-list-products {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;
      // margin: 3rem 0 100px 100px; 
      margin: 0 200px;
      .hr-separate {
        grid-column: 1 / -1; /* Đặt hr để nó trải dài hết chiều rộng của grid */
        border: 2px dashed red; /* Tùy chỉnh kiểu đường ngăn cách */
        margin: 1rem 0;
        width: 100%;
      }
    }
  
    @media screen and (min-width: 280px) and (max-width: 720px) {
      .category-list-products {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      }
    }
    @media screen and (min-width: 720px) and (max-width: 1080px) {
      .category-list-products {
        grid-template-columns: repeat(2, 1fr);
      }
    }
}