.product .content h1 {
  background: linear-gradient(to bottom right, #83026d, #06b9eb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.product table thead tr th {
  color: #f10660;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /* color: rgb(228, 223, 223); */
}
.product table tbody tr td {
  font-weight: 500;
}
.pagination.pd button {
  border: none;
  padding-left: 10px;
  padding-right: 8px;
  font-weight: 600;
}
