.custom-modal-orderDetail {
    max-width: 60%; 
    .modal-body {
      overflow-y: auto; // Thêm thanh cuộn nếu nội dung vượt quá chiều cao
    }
    p{
        margin: 0;
    }
    .order-detail {
        display: flex;
        flex-direction: column;
        .order-detail-orderID{
            display: flex;
            .orderID-title{
                font-weight: 600;
                margin-right: 20px;
            }
        }
        .order-detail-infor {
            display: flex;                  
            flex-wrap: wrap;               
            margin: 10px 0;                
            border: 1px solid #E7E7E7;
            .order-detail-infor-item {
              flex: 1;                      // Mỗi mục chiếm đều không gian
              padding: 10px;               
            //   box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
            //   background-color: #f9f9f9;   
            }
            .infor-title{
                font-weight: 600;
            }
            .infor-content{
                font-size: 14px;
            }
        }

        .order-detail-status {
            margin: 40px 0;
            .status-line {
              display: flex; 
              align-items: center; // Căn giữa theo chiều dọc
            }
          
            .status-segment {
              flex: 1; // Mỗi đoạn gạch chiếm đều
              display: flex; 
              align-items: center; // Căn giữa icon và đường gạch
              position: relative; 
              .status-bar {
                flex: 1; 
                height: 5px; // Chiều cao của gạch
                background-color: lightgray; 
                transition: background-color 0.3s; 
                &.active {
                  background-color: red;
                }
              }
          
              .status-icon {
                font-size: 20px; // Kích thước icon
                padding: 10px;
                background-color: lightgray;
                // border: 1px solid #E7E7E7;
                border-radius: 50%;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                &.active {
                    color: white; // Đổi màu nền khi đang ở trạng thái active
                    background-color: red;
                }
              }
            }
          
            .status-labels {
              display: flex; 
              justify-content: space-between; // Giãn cách đều giữa các nhãn
              margin-top: 5px; // Khoảng cách giữa gạch và nhãn
              span {
                font-size: 14px;
                flex: 1;
                text-align: center;
                font-weight: 500;
              }
              
            }
          }
        .order-detail-product{
            display: flex;
            flex-direction: row;
            border: 1px solid #E7E7E7;
            .order-detail-product-item{
                flex: 1;
                display: flex;
                flex-direction: row;
                .product-item-image{
                    width: 70px;
                    height: 70px;
                    border: 1px solid #E7E7E7;
                    img{
                        background-size: contain; 
                        background-position: center; /* Canh giữa hình nền */
                        width: 100%;

                    }
                }
                .product-item-infor{
                    display: flex;
                    flex-direction: column;
                    margin: 10px 15px;
                    justify-content: center;
                    p{
                        margin: 0;
                    }
                    .infor-price-quantity{
                        display: flex;
                    }
                }
            }
        }
      }
      
  }
  
