.food-display{
    margin-top: 30px;
    text-align: center;  
    h2{
        font-size: 2.5rem;
        color: red;
        margin-bottom: 20px;
    }
    .food-display-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        gap: 30px;
        padding: 0 20px; 
        margin: 0 auto; 
        max-width: 1200px;
    }
    .pagination-container{

        .food-display-pagination{ // Mỗi ô chỉ số
            display: flex;
            justify-content: center; 
            margin-top: 40px; 
        }
    }
    .no-product {
        font-size: 35px;
        text-align: center;
        font-weight: bold;
    // color: red;
        /* Căn giữa theo chiều ngang và chiều dọc */
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column: 1 / -1; /* Trải rộng trên toàn grid */
    }    
}
.loading-container{
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 1 / -1; /* Trải rộng trên toàn grid */
    span{
      color: black;
    }
}
