.order-complete-page {
    padding: 20px;
    .breadcrumb {
        margin-bottom: 20px;
        font-size: 14px;
        text-align: center;
        display: flex;
        justify-content: center;
        gap: 10px;
  
        p {
            font-size: 25px;
            font-weight: bold;
  
            &:nth-child(3) {
                color: #0088cc;
            }
        }
    }
    .paragraph-complete{
        margin-top: 20px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p{
            text-align: center;
            font-size: 30px;
            color: red;
            font-weight: bold;
        }
        button{
            width: 230px;
            background-color: #000;
            color: #fff;
            padding: 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            text-transform: uppercase;
            &:hover {
                background-color: #333;
            }
        }
    }
}
       