body {
  overflow-x: hidden; /* Ko hiển thị scroll ngang */
  .page-promotion {
      .header {
          width: 100%; 
          height: 40vw; 
          background: url('/header_img4.png') no-repeat; 
          background-size: cover; 
          background-position: center; 
          position: relative; 
      }
    .ads_box {
      text-align: right;
      padding: 80px 35px 50px;
      border-radius: 15px;
    }
    .ads_img1 {
      background: url("../../assets/menu/ads-1.jpg") no-repeat center center;
      background-size: cover;
    }
    .ads_box h4 {
      font-size: 30px;
      font-weight: 600;
      color: rgb(255, 255, 255);
    }
    .ads_box h5 {
      font-size: 35px;
      font-weight: 700;
      color: rgb(247, 59, 59);
    }
    .ads_box a {
      margin-top: 15px;
      font-size: 18px;
    }
  }
}