.custom-modal-forget-password {
    max-width: 30% !important;
    .title-bold{
        font-weight: 700;
    }
    .form-forget-password {
        .form-forget-password-input{
            margin-bottom: 10px;
            input {
                width: 100%;
                border-radius: 5px;
                border: 1px solid #E7E7E7;
                padding: 10px 15px;
                margin: 5px 0;
                &:focus {
                    outline: none; 
                    border: 1px solid red; 
                }
            }
            
        }

        .btn {
            width: 100%; 
        }

        
    }
}
