.custom-modal-login {
    max-width: 30% !important;
    .title-bold{
        font-weight: 700;
    }
    .form-login {
        .form-login-input{
            margin-bottom: 10px;
            input {
                width: 100%;
                border-radius: 5px;
                border: 1px solid #E7E7E7;
                padding: 10px 15px;
                margin: 10px 0;
                &:focus {
                    outline: none; 
                    border: 1px solid red; 
                }
            }
            .btn-forgot-password {
                background-color: transparent;
                border: none;
                color: #e3000e;
                cursor: pointer;
                text-decoration: underline;
                &:hover{
                    opacity: 0.5;
                }
            }
           
        }

        .btn {
            width: 100%;
        }

        .click-register {
            // text-align: center;
            margin-top: 20px;
            display: flex;
            p {
                margin: 0;
                padding-right: 10px;
            }
            button {
                background-color: transparent;
                border: none;
                color: #e3000e;
                cursor: pointer;
            }
        }
    }
}
